@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

body {
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


.light__shadow {
    box-shadow: #ccc 0px 1px 0px, #ccc 0px 0px 8px;
}

.dark__shadow {
    box-shadow: #ccc 0px 0.5px 0px, #ccc 0px 0px 4px;
}

.aboutme {
    top: 50px;
    position: inherit;
    z-index: -0;
    height: 100vh;
}

.contact__icons__container {
    display: flex;
    align-items: center;
    gap: 10px
}