@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 
:root {
    --background-svg: url("path-to-svg-file.svg");
} */

body {
    font-family: 'Montserrat', sans-serif;
}

.background-svg {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 800 450' opacity='1'%3e%3cdefs%3e%3cfilter id='bbblurry-filter' x='-100%25' y='-100%25' width='400%25' height='400%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeGaussianBlur stdDeviation='130' x='0%25' y='0%25' width='100%25' height='100%25' in='SourceGraphic' edgeMode='none' result='blur'%3e%3c/feGaussianBlur%3e%3c/filter%3e%3c/defs%3e%3cg filter='url(%23bbblurry-filter)'%3e%3cellipse rx='27.5' ry='277.5' cx='746.5913696289062' cy='-13.265949596058249' fill='hsla(282, 100%25, 50%25, 1.00)'%3e%3c/ellipse%3e%3cellipse rx='27.5' ry='277.5' cx='38.438897566361845' cy='-53.084268743341624' fill='hsla(115, 100%25, 50%25, 1.00)'%3e%3c/ellipse%3e%3cellipse rx='27.5' ry='277.5' cx='58.54719266024503' cy='561.1285400390625' fill='%23cccccc'%3e%3c/ellipse%3e%3c/g%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.light__shadow {
    box-shadow: #ccc 0px 1px 0px, #ccc 0px 0px 8px;
}

.dark__shadow {
    box-shadow: #ccc 0px 0.5px 0px, #ccc 0px 0px 4px;
}

.aboutme {
    top: 50px;
    position: inherit;
    z-index: -0;
    height: 100vh;
}

.contact__icons__container {
    display: flex;
    align-items: center;
    gap: 10px
}