.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    background: #fff;
    animation: gradientAnimation 10s linear;
    text-transform: uppercase;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.banner__title,
.banner__sub__title {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    font-size: 10vw;
    font-weight: bolder;
    line-height: 90%;
}

.banner__sub__title {
    animation-fill-mode: forwards;
    font-size: 7.5vw;
    font-weight: bold;
    animation-duration: 2s;
}

.banner__title:hover,
.banner__sub__title:hover {
    color: rgb(163, 162, 162);
}

.banner__title.delayed {
    animation-delay: 2s;
}

.banner__sub__title.delayed {
    animation-delay: 5s;
}